<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Catcher</title>

    {% include 'html_dependencies.jinja2' %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand offset-md-1" href="/"><h4>Price-Catcher</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('stores.index') }}">Stores<span class="sr-only">(current)</span></a></li>
            {% if session['email'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.user_alerts') }}">Alerts</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('alerts.index') }}">Alerts</a></li>
            {% endif %}
        </ul>
        {% if session['email'] %}
            <ul class="navbar-nav mr-5">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.user_alerts') }}"><span class="oi oi-bell" title="alert" aria-hidden="true"></span> Your Alerts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.logout_user') }}"><span class="oi oi-account-logout" title="account-logout" aria-hidden="true"></span> Logout</a> </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mr-5">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.register_user') }}"><span class="oi oi-person" title="sign-up" aria-hidden="true"></span> Sign up</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.login_user') }}"><span class="oi oi-account-login" title="account-login" aria-hidden="true"></span> Login</a> </li>
            </ul>
        {% endif %}
    </div>

</nav>

    <div class="content container mt-5">

        {% block content %}

        {% endblock %}
    </div>
</body>
</html>