{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron ">
        <h1 class="display-3">Price Catcher!</h1>
        <p class="lead">Here you will find your alerts once you sign up! </p>
        <hr class="my-4">
        <p>Just Sign up with your email.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('user.register_user') }}" role="button">Sign Up!</a>
        </p>
    </div>
{% endblock %}

