{% extends "base.jinja2" %}
{% block content %}
    <div class="modal-header">
        <h1>Editing: <small>{{ alert.item.name }} alert</small></h1>
    </div>
    <div class="container mt-md-5 border border-info rounded w-75 div-color">
        <form class="my-3" method="POST">
            <div class="form-group">
                <div class="form-group">
                <label for="item_url">Item Name</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="{{ alert.item.name }}" disabled>
            </div>
            <div class="form-group">
                <label for="item_url">Item URL</label>
                <input type="url" class="form-control" id="item_url" name="item_url" value="{{ alert.item.url }}" disabled>
            </div>
                <label for="price">New price limit</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ alert.price_limit }}"
                           aria-describedby="price_des">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-block btn-info">Update</button>
            </div>
        </form>
    </div>
{% endblock %}